<section *ngIf="artist">
  <div class="artist-header">
    <div class="mdl-layout-spacer"></div>
      <img *ngIf="artist.images.length" src="{{artist.images[0].url}}" class="img-round">
      <p id="artist-text">{{artist.name}}</p>
    <div class="mdl-layout-spacer"></div>
  </div>
</section>

<section *ngIf="topTracks">
  <div class="top-tracks">
    <audio controls src="{{topTracks[0].preview_url}}" preload="auto"></audio>
  </div>
  <div class="top-tracks">
    <audio controls src="{{topTracks[1].preview_url}}" preload="auto"></audio>
  </div>
  <div class="top-tracks">
    <audio controls src="{{topTracks[2].preview_url}}" preload="auto"></audio>
  </div>
</section>

<section *ngIf="relatedArtists">
  <div class="related-artists-container">
    <p>Related Artists</p>
    <div *ngFor="let artist of relatedArtists" class="content-grid mdl-grid">    
      <div class="mdl-layout-spacer"></div>
        <div (click)="goToArtist(artist.id)" class="related-artist">
          <img *ngIf="artist.images[0].url" src="{{artist.images[0].url}}" alt="">
        </div>
      <div class="mdl-layout-spacer"></div>
    </div>
  </div>
</section>