<section *ngIf="artist">
  <div class="artist-header">
    <div class="mdl-layout-spacer"></div>
      <img *ngIf="artist.images.length" src="{{artist.images[0].url}}" class="img-round">
      <p id="artist-text">{{artist.name}}</p>
    <div class="mdl-layout-spacer"></div>
  </div>
</section>

<section *ngIf="topTracks">
  <div class="top-tracks">
    <audio controls src="{{topTracks[0].preview_url}}" preload="auto"></audio>
  </div>
  <div class="top-tracks">
    <audio controls src="{{topTracks[1].preview_url}}" preload="auto"></audio>
  </div>
  <div class="top-tracks">
    <audio controls src="{{topTracks[2].preview_url}}" preload="auto"></audio>
  </div>
</section>

<section *ngIf="relatedArtists">
  <div class="related-artists-container">
    <p>Related Artists</p>
  </div>
  <div class="related-artist-name">
    <p>{{relatedArtists[0].name}}</p>
  </div>
  <div class="related-artist-name">
    <p>{{relatedArtists[1].name}}</p>
  </div>
  <div class="related-artist-name">
    <p>{{relatedArtists[2].name}}</p>
  </div>
</section>