<!-- Textfield with Floating Label -->
<!-- Simple Textfield -->
<div id="search-container">
  
  <div id="header-container">
    <p id="header-text">Discover. New. Music.</p>
  </div>

  <div id="form-container">
    <form action="#">
      <div id="inner-form-container" class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="search-input" placeholder="Search by Artist" autofocus (keyup)="searchArtist()" [(ngModel)]="artistString">
      </div>
    </form>
  </div>

  <div *ngIf="artistResults && artistString">
    <div *ngFor="let artist of artistResults">
      <div class="artist-results">{{artist.name}}</div>
    </div>
  </div>

</div>
